[2019-10-20 20:52] Vysybyl commented on #1
`def get_messages(folder, channel):
    for filename in sorted(glob(os.path.join(folder, channel, '*.json'))):
        with open(filename) as f:
            for message in json.load(f):
                mess = message['text']
                # here I have some logic to get the user name
                while len(mess) > 0:  # Discord does not like long messages
                    text = mess[:1800

[2019-10-20 21:32] thomasloupe commented on #1
Hey @Vysybyl, thanks for your interest and for using Slackord! I realize there's a few issues with the 0.5 release that could certainly use improvements. Because of how inconvenient it was to get Slackord running for many people, I decided to redesign it using Tcl/Tkinter GUI. It's not quite finished yet, but I have released a pre-release alpha you can check out. Queues need to be set up at some p

[2019-10-25 00:54] thomasloupe commented on #1
I've taken some of your advice on fixing some of the issues. I've completely reworked Slackord as a GUI app in Tkinter for Windows. Feel free to give it a shot and let me know if you come across any issues. Thanks!
[Slackord 1.0](https://github.com/thomasloupe/Slackord/releases/tag/1.0)

[2019-12-28 10:44] thomasloupe commented on #2
Hey there, @cryptowally.
Yes, Slackord should work just fine for any backups as long as they're in JSON format. There is a known bug with threading that will lock up the main thread but the history will still get parsed and the messages will still post.

If you're unsure yet on whether you'd like to use it, I'd suggest setting up a test Discord server and giving it a shot. Perhaps I will release s

[2020-05-21 18:03] thomasloupe commented on #4
Are you using 0.5 or 1.0 when you get this issue?

[2020-05-21 18:17] joepio commented on #4
1.0

Just noticed you released a 2.0. Why not use this repo for that?

[2020-05-21 18:30] thomasloupe commented on #4
Good question. They're completely different codebases (Python/Tkinter), and 2.0 uses .NET 4.8. This repo is for those who want to run Slackord in linux/unix. I may merge them in the near future, but I'll have to point those users to previous releases and I'm concerned about doing that given their significant code differences.

If you'd like to give 2.0 a run, please feel free. I'll still look into

[2020-05-21 18:39] joepio commented on #4
Thanks! 😇

On Thu, May 21, 2020, 20:30 Thomas Loupe <notifications@github.com> wrote:

[2020-05-23 05:16] thomasloupe commented on #4
Did you, by chance, have the bot selected as a public bot or did you have more than one Slackord bot set up in your developer panel?

[2020-08-03 17:55] VileAce opened #1 "Love the tool, have a small issue"
The error I received is below,  I'm assuming that the message can not be more than 2000 words?

13:50:54 Gateway     A MessageReceived handler has thrown an unhandled exception.:
System.ArgumentException: Message content is too long, length must be less or equal to 2000.
Parameter name: Content
   at Discord.API.DiscordRestApiClient.<CreateMessageAsync>d__89.MoveNext()
--- End of stack trace from

[2020-08-03 18:00] VileAce opened #2 "Feature Request"
Would it be possible to have the log stay at the last entry?  When a new entry is added it goes back to the top of the log,  making it difficult to keep up with the status of transferring entries.

Again thanks for a great tool.

[2020-08-05 05:09] thomasloupe commented on #2
Hi @VileAce,

Thanks for the kind words. Is this happening for every log entry or only when the bot itself logs an entry?

[2020-08-05 05:13] thomasloupe commented on #1
Hi @VileAce,

That is correct. Discord limits _all_ messages to 2000 chars or less, hence the "Message content is too long, length must be less or equal to 2000."

In theory, I could add a concatenation event to messages that are longer than 2000 chars, but I have avoided this as it gives spammers incentive to use the application. I am curious if the application fails to post the rest of the data

[2020-08-05 05:53] thomasloupe commented on #2
I have fixed this bug. Please see the latest release [here](https://github.com/thomasloupe/Slackord2/releases/tag/v2.0.4).

[2020-08-05 05:53] #2 closed, assigned to thomasloupe

[2020-08-05 12:35] VileAce commented on #1
When the error occurs, it stops the import completely. I have to the search the json to find the message it failed on split the message and trim all the messages that did import . To me at a minimum it would be nice to receive a warning during the initial loading of the json. That way it would not do a partial import.

[2020-08-06 11:15] thomasloupe commented on #1
Hi @VileAce,

That's understandable. I'll see what I can do about that issue.

[2020-08-06 13:16] thomasloupe commented on #1
Hi @VileAce,

I have put out [v2.0.5 of Slackord](https://github.com/thomasloupe/Slackord2/releases/tag/v2.0.5) which addresses this issue and adds some additional small QoL changes. Thanks for your reports and suggestions. Happy Slackording!

[2020-08-06 13:16] #1 closed, assigned to thomasloupe

[2020-12-08 18:19] 3h50 opened #4 "Multiple JSONs?"
So its exporting day by day for each channel.  Feature request for selecting multiple JSONs? :D

[2020-12-08 20:49] 3h50 commented on #4
I made this in Node to just merge all dates of a channel.  https://gist.github.com/mrarmyant/2a998404a0575378b23d0b741087954b

[2020-12-08 21:10] thomasloupe commented on #4
@mrarmyant Please see point 3 of the following: https://github.com/thomasloupe/Slackord2#important-please-read.
I will still consider the request, as I know it can be painful for larger Slack server imports.

[2020-12-08 21:13] 3h50 commented on #4
Wow I missed like one of 30 lines.  Lol.  No worries!  I see why on a massive file it got to the end and cancelled due to some that didn't get parsed.  Does it always kill the job if some are unsuccessful?  I assumed its more likely I'm just breaking all sorts of memory bounds.

[2020-12-08 21:21] thomasloupe commented on #4
If they are unsuccessful, yes, it'll kill the task - mostly because the assumption is that you'd want that data in-line (and in timestamp) with the rest of your data versus reparsing and adding to the end. If you have any red in the debug window, check your JSON file, or read the error message if there is one.

It could also be that you're likely breaking the 2000 char limit enforced by Discord. I

[2020-12-08 21:28] 3h50 commented on #4
Well no, I get not parsing it to one file, its huge and unmaintainable.  Queuing up other files though to start jobs next does make sense.  Slack is backing up individual days for each channel, times 15 channels, each with 2.5 years of open source cnc development lol.  A lot of days, and if the import fails you go to discord and delete line by line.

We are just trying to save old data we have los

[2020-12-08 21:37] thomasloupe commented on #4
@mrarmyant I think the "skip failed message" task seems appropriate rather than failing out. I'll see what I can do about that.

For the multiple JSON file imports, I'll have a look into how I can best parse multiple JSONS within a folder. If it's not a crazy rewrite of a bunch of functions for me, I'll also work on getting that in, but no promises.

[2020-12-08 21:45] 3h50 commented on #4
I rolled back the number of files I was merging and it accepted it.  It would get to the end, be fine, then turn red.  Didn't see any errors when it was red other than it saying failure.  I imagine I escaped the bounds of something that no one was supposed to break lol

[2020-12-09 02:43] thomasloupe opened #5 "Request - Don't Fail Completely When Over Discord Charlimit"
Currently, Slackord2 fails entirely when parsing messages over 2000 chars because Discord doesn't allow messages over that charlimit. I previously handled this by leaving a log note for the user to split their message. I've decided to implement a new feature that the user can enable to ignore the posting of messages over the 2000 char limit, so that Slackord2 can continue posting.

[2020-12-09 02:44] thomasloupe commented on #5
This is completed in [2.0.7](https://github.com/thomasloupe/Slackord2/releases/tag/v2.0.7).

[2020-12-09 02:44] #5 closed, assigned to thomasloupe

[2020-12-09 02:46] thomasloupe commented on #4
While I didn't implement parsing ability for multiple JSON files, I did fix your second issue by creating a new feature to allow bypassing of messages that exceed the 2000 character limit for Discord. Please see the following feature request for [2.0.7](https://github.com/thomasloupe/Slackord2/issues/5).

[2020-12-09 02:46] #4 closed, assigned to thomasloupe

[2020-12-13 13:18] Geczy opened #6 "sysout stutters when showing parsed entries"
The tool tries to scroll to the bottom but keeps jerking back to the top, and this is repeated endlessly

Perhaps it's only an issue with large json file? I'm trying 8 months of data in one go

Likely a fallout from #2

[2020-12-14 20:55] thomasloupe commented on #6
Hey @Geczy,

Yeah, I did notice this with large JSON entries. This is not a problem for smaller entries. The larger entries _will_ still parse, but it will take **_significantly_** (as in multiple minutes) longer, and the output log will show the same messages scrolling. I'm looking into that, but not sure if it's just something that happens based on how large the JSON file-size is.

Eventually, y

[2020-12-14 22:51] Drexl opened #7 "Bot should delete the !slackcord message after posting the parsed JSON."
A minor QOL improvement that would make me very happy. I don't want to delete it each time. I'll have made a significant dent in the many hundreds of JSONs I'm about to import before this happens probably, but maybe it'll help someone in the future.

[2020-12-15 00:02] Geczy commented on #6
I think if it's a large JSON, that it's better to not output anything to stdin. Rather, show a progress bar

I bet that would even speed up parsing

[2020-12-15 03:57] Drexl opened #8 "repeated messages, possibly a result of the parser not handling threads properly."
We're getting A TON of repeated messages. My guess based on my observations so far is that any message that was broken out into a thread is having the root message repeated for each thread response and the threads themselves are being lost. This is a pretty serious problem if true.
I could be speaking completely out of ignorance though, so please correct me if so.

[2020-12-15 04:29] thomasloupe commented on #8
Are you able to email me the JSON file by chance to thomasgloupe@gmail.com? I'd like to take a look. Slackord wasn't really meant for threads as much as it was for messages but I'm sure there's something that can be done if I have a file to look at to see how it's posting. Thanks!

[2020-12-15 04:32] thomasloupe commented on #7
The bot would have to be a moderator in your chat, and I'd need to code cases where it is and it isn't. That's a lot of work for one request. I will consider it though, and if it's something that I think I can do relatively easily, I'll implement it.

[2020-12-15 05:22] Drexl commented on #7
Fair point. I was thinking of a similar situation that came up with another bot, but in that case it only had to delete it's own messages. I can see how that might be more involved. Hopefully it's an easy enhancement.

[2020-12-16 01:47] Drexl commented on #8
I'll see if I can find a suitable sample that is permissible to share.

[2020-12-17 06:56] Drexl commented on #8
My apologies. My conclusion was a bit premature. It appears the real reason was a small issue with a script we were using to combine the JSONs, as well as some other string manipulation we needed to perform. This issue is solved. :)

[2020-12-17 06:56] #8 closed, assigned to nobody

[2020-12-18 19:17] thomasloupe commented on #7
Yeah, so, I've given this quite a bit of thought and I don't think this is something I want to implement. The bot will absolutely have to have moderator privileges and I don't think that's something I wanna do at this time. I considered having it check what privileges it has and then add a setting to remove the command triggers automatically, but that would require me to build the bot in two diffe

[2020-12-18 19:17] #7 closed, assigned to thomasloupe

[2021-02-06 11:08] MaskyS opened #9 "Does this pull in message reactions as well?"
When importing, does it programmatically add Slack reactions to messages here?

[2021-02-06 11:12] thomasloupe commented on #9
Hi @MaskyS.
It does not, mostly because I didn't think this would be a feature anyone would want.
In addition, it would only be able to add only a single instance of each reaction, which would not be accurate.

[2021-02-08 01:36] #9 closed, assigned to thomasloupe

[2021-06-19 14:19] thomasloupe commented on #6
Are you able to provide a test JSON file for me? I'd like to have a look at this now. You can DM me the JSON via Twitter if you'd like.

[2021-10-06 02:01] camilo246800 opened #10 "Slack files"
Hi! Excellent work.
Any ideas when slack generates many files for a single channel? Will you know how to unify them or have only 1 per channel?

[2021-10-06 18:59] thomasloupe commented on #10
You can combine the JSON into a single flat file just by copying the contents of one JSON file into another, or you can load them independently. I haven't set it up to allow multiple files, but it has been requested a few times. I may choose to implement this at some point.

[2021-11-03 09:07] BlueFinBima commented on #10
@camilo246800 I just appended all of the files, and then did a global replace in notepad++ from` ][` to `,` and the files imported fine.  There is a line break between the square brackets, so this needs to be accommodated.

[2021-12-12 15:05] thomasloupe commented on #10
Sorry for the delay on this.
Thanks for bringing that point up. This is a good reference for anyone looking to combine multiple JSON files, so I'll be sure to add this to documentation.

[2021-12-12 15:05] #10 closed, assigned to nobody

[2022-01-09 13:29] thomasloupe commented on #6
I wasn't able to reproduce this with the JSON files I have. No other JSON files provided to test with.

[2022-01-09 13:29] #6 closed, assigned to thomasloupe

[2022-07-28 16:17] JonnyTsGitHub opened #11 "Current Slack Export Format No Longer Has "user_profile""
It appears that json exports from slack now (I've never tried before) do not have the "user_profile" property on messages.  Instead they have a "user" field which is just a key into a "users.json" which provides the profile info.

So in order to get the needed info you need to load that users.json, build a dictionary, and look up the key as you process each message.

My suggestion is that you prov

[2022-07-31 08:48] thomasloupe commented on #11
Hi Jonny,

I had a look at my test Slack tenant, and exported JSON as of today. You might be looking at the wrong data as I'm seeing that channel content still contains a "text", "real_name", "display_name", and "name" in the JSON export.

For example, see the exported history from the attached file. Yours should be similar if you're looking at the file named after the channel.

If you are willing

[2022-08-02 10:06] war4peace opened #12 "Slacklord won't post messages to Discord"
Hello,

I have followed all instructions carefully.
Slacklord joins my server, is shown online, can load the JSON file locally and parses it successfully.
However, "!Slacklord" command does nothing. The bot doesn't react to it.

I'm not sure how to continue from here. Any advice?

[2022-08-02 16:17] JonnyTsGitHub commented on #11
Yes, you're right.  This is my problem.

I was using a tool called backupery which allows exporting private channels and purports to export to the exact same format as slack.  However it drops this section.  This is what I originally assumed was the case, so before I opened this issue I went into my normal slack export and I THOUGHT I confirmed that it was missing there too. But when I checked tod

[2022-08-02 16:17] #11 closed, assigned to thomasloupe

[2022-08-02 20:35] JonnyTsGitHub commented on #11
Actually I found an even easier workaround than modding the code.  Slack will take the backupery format.  So import my export back as public channels, then use the standard slack export on those new public channel copies.  Slackord will take that output.  :)

[2022-08-02 21:03] thomasloupe commented on #11
Glad to hear that you have it working as expected! Enjoy!

[2022-08-02 21:04] thomasloupe commented on #12
Hi @war4peace,

Are you typing !slackord, or !slacklord?

[2022-08-02 21:11] war4peace commented on #12
Oh. My. God. I am such an idiot.
Of course I was typing „Slacklord” - but in retrospect, you gotta admit, that's a cool nickname :)
The bot works now. It was a problem between keyboard and chair.

[2022-08-02 21:14] thomasloupe commented on #12
I agree, it's a pretty killer name. The metalhead in me wishes I had named it differently, but alas.
Glad you got it sorted out! I'll go ahead and close off the issue, enjoy SlackOrd! ;)

[2022-08-02 21:14] #12 closed, assigned to nobody

[2022-08-05 19:10] Shotgunosine opened #13 "Distribute mac binaries"
It would be great to have a version of this available on Mac.

[2022-08-12 07:03] thomasloupe commented on #13
This has been completed, in addition with Linux binaries.
You can get the mac binary [here](https://github.com/thomasloupe/Slackord2/releases/tag/v2.1.2.1).

[2022-08-12 07:03] #13 closed, assigned to thomasloupe

[2022-08-24 07:34] thomasloupe commented on #5
Hi @emmahsax!

Thanks for reporting the issue!

This version of Slackord now requires the two following intents:
`messages`, and `message_content`. Specifying `default` or `all` will not work as expected and will hang the UI.

I have updated Slackord so that the required intents are requested.
If you grab the latest commit, it should work fine now. Please feel free to confirm that for me.

I have

[2022-08-24 14:16] emmahsax commented on #5
@thomasloupe With the new commits from `master`, I now get this error:
[code]

[2022-08-24 16:00] emmahsax commented on #5
@thomasloupe Thank you so much for your response! Yes, I got it working. I realized that Slackord2 would probably be fancier, but it was super easy for me to work with the python project on my machine, since Slackord2 was designed for windows, and so this did exactly what I needed. Thank you again!

[2022-08-25 07:01] richfromm commented on #6
I see that Ubuntu has a `python-tk` package as well, so if you see this there, it might be as simple as `sudo apt-get install python-tk`: https://packages.ubuntu.com/search?keywords=python-tk&searchon=names&suite=jammy&section=all

I have no ability to test for RedHat, and apparently I'd need to create a developer account even to see via a web interface if there's some `python-tk` package that cou

[2022-08-25 07:05] richfromm commented on #6
Okay, for a RedHat-based distribution (e.g. CentOS), stackoverflow claims you'd want `sudo yum install python3-tkinter`: https://stackoverflow.com/a/42244548/9797192

I have no way of testing this.

And yes, I realize that I'm ignoring py2 in all of this. It is 2022 already.

[2022-08-25 07:08] richfromm commented on #6
Perhaps update the README to indicate something like tkinter might just be installed as part of your python distribution, if you see the error above (or want to explicitly test via the interactive python shell using `import tkinter`), then you need to install PythonTk, and give some suggested methods based on OS and/or Python distribution.

[2022-08-25 07:10] thomasloupe commented on #6
Hey @richfromm, thanks for bringing this up. I think that's the best route here. Providing extremely detailed instructions is beyond the scope of the README, even though its intention is to make things easier. I'll provide some basic instructions on installing tkinter and discord.py for Mac, Linux and Windows. Thankfully, I have all three OS's here to test, so I can knock this out.

Thanks again!

[2022-08-25 07:50] thomasloupe commented on #6
This should be updated now with correct instructions for Ubuntu, Mac, and Windows. I've tested all three on each OS with success, so I'll go ahead and close this issue out. Thanks again for bringing this to my attention.

[2022-08-27 08:02] erstwhile opened #14 "Doesn't run on MacOS"
Hello
I'm trying to run Slackord 2 on my MacBook and getting the following error after installing the .NET 6.0 framework and running ./Slackord from the command ilne.
[code]

[2022-08-27 10:33] thomasloupe commented on #14
Hi @erstwhile,

It appears the dotnet6 version of Slackord for Mac and Linux is broken currently due to Winforms being used.
I have looked into this issue, even going so far as to port the application over to MAUI, but it is out of scope for the application at this time.

Instead I may release Slackord2 as a CLI application for Mac when I have the time in the next couple weeks.
For now, the only s

[2022-08-27 21:26] richfromm commented on #6
Sorry, I'm just returning to this now.

It's an improvement, but still not correct. `pip install tk` is **never** a relevant instruction, regardless of platform. It might not hurt, but it's not going to do anything useful, b/c it has absolutely nothing to do with tkinter.

Basically, in some cases you don't need to do anything, tkinter should just be part of your python distribution. The sign of t

[2022-08-27 21:33] richfromm commented on #6
This suggests that tkinter is included on Windows as of Python 3.7:
https://www.activestate.com/resources/quick-reads/how-to-install-tkinter-in-windows/

I think anticipating any and all possible configurations is beyond the scope of this README, and simply saying update to a sufficiently new Python (3.7 was released in 2018, more than 4 years ago, and the latest release is currently 3.10) is suff

[2022-08-28 12:09] thomasloupe commented on #14
Hi @erstwhile, see if the updated mac build [here](https://github.com/thomasloupe/Slackord2/releases/tag/v2.2.0) will work for you.

Please note the following has changed but I haven't updated the README yet:
1. You will need to put your bot's token in the `Token.txt` file.
2. You will need to place any JSON files you wish to send to Discord into the `Files` folder.
3. Watch the prompts when using

[2022-08-28 14:00] thomasloupe commented on #6
This is correct. I went through the installer myself and verified this for Windows and Mac (not homebrew).

Windows:
![image](https://user-images.githubusercontent.com/6563450/187075879-3d75fa91-28db-47a0-aaab-15518b64d3a4.png)

Mac:
![image](https://user-images.githubusercontent.com/6563450/187077614-8377163f-ad50-491b-aa63-1fb97df2a872.png)

For Mac and Linux, I have created a one-liner command

[2022-08-29 11:55] thomasloupe commented on #14
I will leave this open for a week just in case you need some additional time. The README has been updated with specific instructions as well to use Slackord for Mac/Linux.

[2022-08-29 15:55] jstane01 commented on #14
Hi,
Sorry for my stupid question but how can I do to run Slackord.
I use MacOS I've download the last archive [Slackord.v2.2.0.osx-x64.zip] here : https://github.com/thomasloupe/Slackord2/releases

But when I open the ZIP I don't see executable file.

I’m sorry I’m a total novice...
For the moment I managed to install the BOT, I copied the TOKEN in Token.txt... but I don’t understand how to launch

[2022-08-29 19:03] thomasloupe commented on #14
Hi Julie,

Yes, first, you need to make sure you install dotnet 6 for Mac [here](https://dotnet.microsoft.com/en-us/download/dotnet/6.0). Be sure you select `.NET Runtime 6.0.8`, and download/install the `mac x64` release (not the .NET Desktop Runtime 6.0.8).

Download Slackord for Mac and extract it anywhere. Open a terminal and `chmod` all files within the Slackord directory to allow read/write

[2022-08-29 19:12] thomasloupe commented on #14
I have verified this works on MacOS Monterey version 12.5.1.
![image](https://user-images.githubusercontent.com/6563450/187279551-1a7ec027-02d6-46ec-93bb-33aa7dbdaf64.png)

I will go ahead and close this issue as completed.

[2022-08-29 19:12] #14 closed, assigned to thomasloupe

[2022-08-30 14:20] kjhosein opened #15 "Exception attempting to transfer messages to Discord (Linux version)"
Hello - I'm attempting to import a relatively simple and small message set, and am getting the following error:

[code]

System: Linux/Debian 10
Slackord version 2.2.0 for x64

When I run _Slackord_, I can see the bot come online in Discord as well, so I know that connection is working.

I've tested with importing into both public and private channels. For the private channel, I added the Slackord

[2022-08-30 14:28] thomasloupe commented on #15
Hi @kjhosein,

Thanks for the report.
Is the error being produced regardless of the channel?
Would you be willing to attach the export file here or DM me on Twitter with a link to the export so I can test this against the Linux version of Slackord2?

[2022-08-30 15:18] jstane01 commented on #14
Dear Thomas,

Thank you for your help.
I installed .NET Runtime 6.0.8  x64 for Mac
![Download-NET-6-0-Linux-macOS-and-Windows-](https://user-images.githubusercontent.com/112414269/187475989-b9328e0c-98f6-4ffb-bfb1-d8d2adaf5ca9.png)
![Capture d’écran 2022-08-30 à 17 04 24](https://user-images.githubusercontent.com/112414269/187476050-318bcde5-cf49-4332-8d14-a100b32980d3.png)

I have JSON files in

[2022-08-30 16:26] kjhosein commented on #15
Hi Thomas - thanks for the quick reply!

Yep, same error regardless of channel type.

Here's a sample JSON file (renamed with a .txt extension) that I just tried importing into a public Discord channel.
[2020-03-30.json.txt](https://github.com/thomasloupe/Slackord2/files/9454700/2020-03-30.json.txt)

FWIW, I used the [`slackdump`](https://github.com/rusq/slackdump/blob/master/doc/usage-export.rst)

[2022-08-30 16:31] thomasloupe commented on #14
Hi @erstwhile, make sure you are just outside of the directory when you run that command. The idea is that you need to change the permissions of the files so that they can be read/written to. In this command you are targeting the folder, so if you are in Terminal and the directory you are currently in doesn't show that folder, you are not in the directory above it.

For instance, if you downloaded

[2022-08-30 16:37] thomasloupe commented on #15
@kjhosein Ahh, this might be the issue then. Could you export the file directly from Slack without using the `slackdump` tool and try it that way? Also, feel free to send that in to this issue as well, or you can do a difference check (diff) on the two files and see the differences. If they are exactly the same, please let me know, but if they are different, it's likely that the formatting for thi

[2022-08-30 19:18] kjhosein commented on #15
Yep, you're right. Using the one from Slack worked.

I did a diff between the two files and they look almost the same, but with different ordering of the elements. The `attachments` element was missing some attributes.

FWIW, I'm attaching the 2 diffs I did (1 inline and the other side-by-side). The 2nd file in the diff is the export from Slack.

[diff.side-by-side.txt](https://github.com/thomaslo

[2022-08-30 23:05] kjhosein commented on #15
I figured out what was missing - an attribute called `display_name` (it's nested under `user_profile`). For some reason, one of my user's display_name wasn't set. The Slack exporter still includes it but with a empty value. `slackdump` on the other hand leaves it out.

The ordering didn't matter. If I just manually added it in, it worked fine.

[2022-08-31 18:19] kjhosein commented on #15
Just to close out the issue completely, the `slackdump` author [updated the code](https://github.com/rusq/slackdump/issues/123) so that it doesn't omit those attributes that have blank values.

[2022-08-31 18:19] #15 closed, assigned to nobody

[2022-08-31 18:22] thomasloupe commented on #15
@kjhosein Thanks for updating with your findings! I was in the middle of a response right when you closed the issue! 😆
I was just about to recommend putting in an enhancement request to slackdump to export the values or provide an additional export option for Slackord. Great job by the developer and you for making that happen!

Thanks again for using Slackord2, there are new features coming eventu

[2022-09-01 19:44] kjhosein opened #17 "Documentation: Toggle on Message Content Intent"
I just tried running Slackord today and although it would connect to the Discord server, running `!slackord` simply was't importing any messages. No error messages were thrown anywhere.

On a hunch based on this [notice from Discord about Message Intents](https://support-dev.discord.com/hc/en-us/articles/4404772028055-Message-Content-Privileged-Intent-FAQ), I toggled on _Message Content Intent_ in

[2022-09-01 19:50] thomasloupe commented on #17
Hi @kjhosein,

Message intents are not required for non-verified bots. Are you saying that toggling this on fixed the issue? Additionally, since the bot is run per-user, and isn't a public bot, message intents are not required for Slackord.

The output of the bot itself should log to the console window. If the bot shows it's connected, then the next steps would be to look at the JSON file being pa

[2022-09-01 20:12] thomasloupe commented on #17
This just means I've set the bot to listen to all unprivileged events even though I am not actually asking for any data regarding them.

Most bots do this and it is not an error or a problem, just a notice that I've set the bot to listen to specific events, but there's no actual code listening to the event (because we really don't need it). It is easier to write `AllUnprivileged` than it is to spe

[2022-09-01 20:26] thomasloupe commented on #17
@kjhosein It is unclear to me right now whether or not the requirement is to enable message intents.
From what it appears, you should still enable message intents, and situations where previous bots had message intents automatically enabled, this will no longer be the case for new bot creators. I will update the README to reflect the policy changes Discord has put forth once I've had a moment to c

[2022-09-01 21:13] kjhosein commented on #17
Hi @thomasloupe - I should have said upfront that I don't fully understand the various Discord app & dev terminology and concepts. I just happened to solve the problem through a little bit of trial-and-error!

To recap:
* Yes, toggling the Message Intent to On solved the issue.
* I didn't get any console logging whatsoever.
* It didn't matter what JSON Slack export I threw at it - none worked unti

[2022-09-01 23:17] thomasloupe commented on #17
Thanks, @kjhosein!

The README has been updated to include this information, as well as various changes to verbiage to be less complex, and more up-to-date.

In addition, Gateway Intents have been reworked so that the bot only uses intents it requires to post messages and read channels for the command trigger. This will get rid of the warnings about intents the bot isn't using but is subscribed to

[2022-09-01 23:17] #17 closed, assigned to thomasloupe

[2022-09-02 00:28] kjhosein commented on #17
Great!

I closed my PR re: the README.  Your update where you split out the Discord app+bot creation was much better.

[2022-09-02 01:59] saltiniroberto opened #18 "Invalid supplied token error"
Since today I have started getting the following error
[code]

Things to note
1. Everything was working fine yesterday and I did not touch the file `Token.txt` in the meantime.
2. The token in `Token.txt` is correct, it does not contain white spaces or new lines.
3. OS: Linux - Ubuntu 20.04
4. Versions affected: both `2.2.0` and `2.2.1`

[2022-09-02 05:02] saltiniroberto opened #20 "Null reference access in method `SelectFileAndConvertJson` on Linux"
Lines [212](https://github.com/thomasloupe/Slackord2/blob/master/Slackord_Mac_Linux/Slackord/Program.cs#L212) and [223](https://github.com/thomasloupe/Slackord2/blob/master/Slackord_Mac_Linux/Slackord/Program.cs#L223) raise a "Null reference exception" as the reference `_discordClient` has never been set.

The reference `_discordClient` is set in the method `MainAsync` which is however executed af

[2022-09-02 11:12] thomasloupe commented on #20
Thanks, I'll get this fixed today and get a new build out.

[2022-09-02 11:16] #18 closed, assigned to nobody

[2022-09-02 11:45] thomasloupe commented on #20
There is a new build available which fixes this issue, as well as #18
See: https://github.com/thomasloupe/Slackord2/commit/44227a60dd974365e94f1b96e4f6accff7acd117

Thanks again for raising the issue.

[2022-09-02 11:45] #20 closed, assigned to nobody

[2022-09-02 18:27] jarommadsen opened #21 "Bot messages are not parsed"
I used a bot in an interactive story channel. Without the bot messages a lot of the context is missing. Would you consider adding support for this?

[2022-09-02 18:31] jarommadsen opened #22 "User mentions are not parsed"
You were able to parse user names for the author of a message. Could the same be done for the `<@U123456>` mentions?

Also while I'm dreaming, do you think there's a world where you could allow manual mapping of discord user IDs to the slack user IDs so the actual mentions link to real users?

[2022-09-02 18:54] jarommadsen opened #23 "Hidden files throw NullReferenceException"
Looks like the script isn't handling "hidden_by_limit" files.
[code]
The file structure looks like this for those:
[code]

[2022-09-02 18:58] thomasloupe commented on #21
Hi @jarommadsen, could you explain what you mean by interactive story channels?
What specific support are you looking for? Please provide some additional detail with screenshots or otherwise to help me understand the request better.

Thanks!

[2022-09-02 19:04] jarommadsen commented on #21
@thomasloupe sure thing. Don't worry about the interactive story bit. Just felt like I should offer some context as to why the bot messages were important. I was running a DnD like thing and used a bot to drive a lot of the story elements. All that means is that the bot messages are pretty important.

Here's the first message in the channel that doesn't get picked up by the parser.

[code]

[2022-09-02 19:07] jarommadsen commented on #21
Taking a quick peek, it looks like you're only checking for `user_profile` text blocks.

[`if (pair.ContainsKey("user_profile") && pair.ContainsKey("text"))`](https://github.com/thomasloupe/Slackord2/blob/e8a250cd5adcf1e25083c2c36724056b068e094d/Slackord_Win/Slackord/Slackord.cs#L106)

I imagine you're trying to limit some of the noise by not getting all `text` messages?

[2022-09-02 19:10] jarommadsen opened #24 "Use slash commands instead of !slackord"
Discord has rolled out slash command support for bots. https://support.discord.com/hc/en-us/articles/1500000368501-Slash-Commands-FAQ#:~:text=WHAT%20ARE%20SLASH%20COMMANDS%3F,to%20use%20your%20favorite%20bot.

Have you looked into this yet? It'd be much cleaner than having `!slackord` strewn throughout the import.

[2022-09-02 19:10] thomasloupe commented on #21
Got it. I can add this to the list of enhancements.

I'm specifically importing messages that have a user, then I look for attachments of any kind. However, since this is a bot posting a rich text event, it's not going to get picked up. For now, the best I could possibly do is actually post the message. Later, I would look toward doing something equivalent like an embed.

[2022-09-02 19:11] jarommadsen commented on #24
Btw, very happy to see this project especially since Slack has killed the free tier for small groups. Never hit the 10,000 message limit so cutting it back to 3 months was big slap to the face.

[2022-09-02 19:14] thomasloupe commented on #24
I did investigate doing this, and may work toward migrating it to a slash command. Slackord2 is a bit older as a bot and was designed before message intents were "a thing". Now that they're mandatory, I may just consider doing this just to take a step out of the README to make things less complicated. Will need some additional time to consider, but it wouldn't be hard to implement since it's just

[2022-09-02 19:19] thomasloupe commented on #22
I would need to look at how the mentions are done to see if it's feasible. Could you DM me on Twitter with a link to the JSON file for testing the potential of this enhancement?

As for mapping the Slack IDs to direct Discord user ID's I can say without hesitation that unfortunately, that is largely out of scope for Slackord2. However, you could still open the JSON file and replace a specific ment

[2022-09-02 19:22] jarommadsen commented on #22
Oh yeah, that's a good idea now that I've merged the JSON together.

I'll DM you now.

[2022-09-02 19:22] thomasloupe commented on #23
This looks like a tombstoned file that was over the free tier's filesize limit. I will fix the error handling for this.

[2022-09-02 20:53] rehak11 opened #25 "Parsing messages longer than 2000 characters"
Hi,
I've tried to migrate workspace from Slack that contained multiple text messages longer than 2000 char. I thought it would be cool if Slackord could automaticly split those longer messages into multiple separate messages smaller than 2000 characters. What do you think? Whould it be possible to add such feature?
Thanks.

[2022-09-02 21:53] thomasloupe commented on #25
Hi @rehak11, I think this is possible. I'll add it to the list of enhancements, though I have no current ETA on when this would be out.

For now, you can split that message up as an additional JSON message entry and the message will post until I can get that enhancement in.

[2022-09-03 15:04] thomasloupe commented on #25
Completed: https://github.com/thomasloupe/Slackord2/commit/9081e723c3338bcc744e9672f7de305e85662ffb

[2022-09-03 15:04] #25 closed, assigned to thomasloupe

[2022-09-03 15:20] thomasloupe commented on #23
Fixed: https://github.com/thomasloupe/Slackord2/commit/a3a69c738b1f8935d19c439f1d5b9fa1bde93693

[2022-09-03 15:20] #23 closed, assigned to thomasloupe

[2022-09-03 15:51] thomasloupe commented on #21
Completed: https://github.com/thomasloupe/Slackord2/commit/c1480bc9a0c6421e534fa2d0a1aeb2a10bc4178f

[2022-09-03 15:51] #21 closed, assigned to thomasloupe

[2022-09-03 16:58] thomasloupe commented on #22
User mentions are parsed.
Mapping is currently out of scope for Slackord2 but the JSON file can be modified to include appropriate discord usernames.

[2022-09-03 16:58] #22 closed, assigned to thomasloupe

[2022-09-03 16:59] thomasloupe commented on #24
Enhancement accepted, though it will be some time before I can get around to it.

[2022-09-03 17:01] thomasloupe opened #26 "Add Slack Thread support"
Currently, Slackord2 does not have thread support, so all messages are placed individually.
Support Slack threads and convert threaded conversations to Discord threads where they exist.

[2022-09-04 03:29] thomasloupe commented on #8
I honestly don't see how to make many of those points user-friendly from a command-line perspective but you might have a way (possibly a config file or something). That's jumping into quite a big list of arguments that need to be parsed. I personally find it easier to just create the channels I want to import to and import to them. In a situation where I don't want the bot to create a channel for

[2022-09-04 23:32] thomasloupe commented on #24
Completed and released: https://github.com/thomasloupe/Slackord2/releases/tag/v2.2.4

[2022-09-04 23:32] #24 closed, assigned to thomasloupe

[2022-09-06 21:41] mgoplerud opened #27 "Export from Backupery"
Hello! I am trying to use this tool to migrate a Slack export. I used Backupery ([here](https://www.backupery.com/products/backupery-for-slack/)) to do it as that can let me do private channels.

I had an issue where many messages were not being parsed. When I run this, I get no output for "Begin Parsing Json" and it seems like nothing is imported into Discord.

I include a `.json` below with two

[2022-09-06 22:43] jarommadsen opened #28 "SlashCommandExecuted TimeoutException"
Not sure what's going on here but I just booted up v2.2.4 and the new slash command failed with this error.
[code]

[2022-09-06 23:25] thomasloupe commented on #28
It looks like the bot tried to do `AsyncRespond` and failed to do so within 3 seconds. Did retrying fix the issue?
This could've been due to a network issue.

[2022-09-06 23:34] thomasloupe commented on #27
Hi, @mgoplerud!

Slackord2 does not support unofficial methods for exporting Slack chat history. This is mostly because the JSON these tools create are usually wildly different than what is expected by Slackord2. There are no plans to support Backupery at this time. Though I believe [slackdump](https://github.com/rusq/slackdump) exports work natively with Slackord2. I am not sure if it handles pri

[2022-09-06 23:34] #27 closed, assigned to thomasloupe

[2022-09-07 00:58] jarommadsen commented on #28
I was trying on mobile data (5G though. Seemed pretty strong) but I can give it another go now that I'm on my home network. Reverted to v2.2.3 worked fine though with the !slackord command

[2022-09-07 01:00] thomasloupe commented on #28
I can just remove the `AsyncRespond` from the method since it doesn't require a response.

[2022-09-07 01:05] thomasloupe commented on #28
Resolved: https://github.com/thomasloupe/Slackord2/commit/a61b8e509c6542d6314e04954ca50a81c51fd2a9.
Feel free to grab the latest build.

[2022-09-07 01:05] #28 closed, assigned to thomasloupe

[2022-09-07 01:38] mgoplerud commented on #27
Thanks!

[2022-09-07 01:58] jarommadsen commented on #28
It did work on my home network on v2.2.4 so probably was just slow network.

[2022-09-07 02:12] jarommadsen commented on #26
What kind of help are you looking for for this?

[2022-09-07 03:18] jarommadsen commented on #21
This is working!

However it doesn't post the timestamp like it does with the user messages.

User messages currently are formatted like:
`<M/D/YYYY H:MM AM/PM>: <User Name>: <Message>`

Bot messages are currently formatted like:
`<Bot Name>: <Message>`

You should be able to pull off the `ts` property like you did for the `user_profile`.

[2022-09-07 03:24] jarommadsen commented on #26
If it's helpful, the way that Slack threads work is they use the `thread_ts` property which is set to the parent message's `ts` property.

[2022-09-07 03:31] thomasloupe commented on #26
Specifically, I don't have the time right now to get it done programmatically. It will be some time before I can get this implemented.

[2022-09-07 03:32] jarommadsen opened #29 "Timestamps/headers are a bit messy"
Consider adding in some [markdown](https://support.discord.com/hc/en-us/articles/210298617-Markdown-Text-101-Chat-Formatting-Bold-Italic-Underline-) to make the timestamps a bit sexier.

A couple ideas:

Idea 1:

**User** (bold + new line)
Message (normal + new line)

Idea 2:
**User (bold)** `M/D/YYYY (code block)`
Message (normal + new line)

Let me know what you think!

[2022-09-07 03:33] jarommadsen commented on #29
Also maybe the ability to toggle on/off timestamps altogether.

[2022-09-07 03:34] jarommadsen commented on #26
If you write up a quick contributing guide I don't mind taking a stab at it. I'm unintimidated by the codebase although it seems that the code is duplicated per platform. Is this done programmatically or manually?

[2022-09-08 10:29] Baalzubub opened #30 "NullRef Exception from SlashCommand Builder"
Hi,

I followed the instructions:

- bot join the server (check)
- import the JSON (check)
- enter token (check)
- connect (check)

However, when I type either "!slackord" or "/slackord" it doesn't post the message. Looks like the command isn't exist.

[2022-09-08 15:11] thomasloupe commented on #30
Hi, @Baalzubub,
Typically, issues with posting messages into Discord are either JSON parsing related issues or connection issues. Since you've said the bot says it is connected, does the bot have access to your Discord channel? Are your messages showing they are all parsed? Which version of Slackord2 are you using and for what OS?

[2022-09-08 21:02] thomasloupe commented on #29
I had to take some time to think about this request as there is a good case for cleaning up the timestamps in general. One change was already done to improve this, but I don't disagree it can be further improved.

As of right now, I prefer to keep things inline, but there is absolutely no reason not to further clean up the timestamps with proper formatting.

Proposed method to keep things inline b

[2022-09-08 21:04] thomasloupe commented on #26
It's no problem. It's likely I can get around to it at some point very soon.
The challenge is first knowing a message starts a thread, then placing every new comment inside of that thread.

I imagine we do a check to see if there is a timestamp for a thread, then gather all the messages up to the point where the timestamp for the thread is `null`, then foreach through them and add them to the thre

[2022-09-08 21:41] mathias-lepoutre commented on #30
Hi @thomasloupe ,

I'm also experiencing an issue with similar consequence while running version v2.2.5.1 on linux.

It's all fine up to gateway connection, except that an error message is logged (see full log below): System.NullReferenceException at Discord.ApplicationCommandProperties.set_NameLocalizations(IReadOnlyDictionary`2 value), at Discord.SlashCommandBuilder.Build().
On my server the bot

[2022-09-08 22:06] thomasloupe commented on #30
@mathias-lepoutre Thanks for the information on this.
It's very likely a bug related in the new release. If you check recent commits, you'll notice I very recently upgraded the Discord.Net lib to the latest version, away from 3.7.2. This is very likely the cause.

I'll work with Discord.Net to see when there's a fix available. If I cannot get a fix in for this or adequate information about a fix,

[2022-09-08 22:19] thomasloupe commented on #30
The current dev build also does not have https://github.com/discord-net/Discord.Net/issues/2450 in the dev build release currently. I could build a new version, but instead I have inquired about a hotfix. This is actually quite a massive issue that has broken pretty much any bot that's using slash commands.

[2022-09-08 22:44] jarommadsen commented on #29
My thoughts were to make it look a bit more like a regular discord message. Inline makes it a bit hard to find who it is that sent the message. Bold will help a bit.

[2022-09-08 22:51] thomasloupe commented on #29
Okay, I'll consider this and make a decision. More than likely there's no issue with doing the latter of the two so I may just do so.

[2022-09-09 05:01] richfromm commented on #8
I totally understand where you're coming from.

I've done some initial work on a proof of concept, and I'm probably going to move forward with it, and I'm totally fine with creating a hard fork. Feel free to keep this open until I either decide to do that or not to do it, if you want a link to it in your README. (Or of course you can feel free to close this now if you don't want to be bothered wit

[2022-09-09 08:49] Baalzubub commented on #30
@thomasloupe Thank you for the reply! I didn't noticed the error before but I do have the same error as @mathias-lepoutre. I'm using Slackord V2.2.5.1 with Window 10 (64-bit).

[2022-09-09 13:48] sulliwane opened #31 "v2.2.5.1 Gateway Ready but not detecting /slackord command"
Hello and thanks for the handy tool!

I created the bot, generated an invite url (checking bot AND command permissions)
![Screenshot from 2022-09-09 15-44-19](https://user-images.githubusercontent.com/1733686/189364647-69441d62-cad4-4ce5-b345-35e871d6fa38.png)

authorized the bot to join my discord server (it now appears in the users sidebar).

Then I ran the linux Slackord2 CLI app. It shows that

[2022-09-09 15:50] thomasloupe commented on #31
Please see: https://github.com/thomasloupe/Slackord2/issues/30

[2022-09-09 15:54] thomasloupe commented on #30
This fix has been committed into dev now:
https://github.com/discord-net/Discord.Net/pull/2453

[2022-09-09 16:26] thomasloupe commented on #30
Fixed in https://github.com/thomasloupe/Slackord2/releases/tag/v2.2.5.2.
Please note: This was a downgrade back to 3.7.2 until the release makes it to stable.

[2022-09-09 16:26] #30 closed, assigned to thomasloupe

[2022-09-09 16:27] thomasloupe commented on #31
Fixed in https://github.com/thomasloupe/Slackord2/releases/tag/v2.2.5.2.
Please note: This was a downgrade back to 3.7.2 until the release makes it to stable.

[2022-09-09 16:27] #31 closed, assigned to nobody

[2022-09-09 22:27] richfromm commented on #8
@thomasloupe do you care at all about future work I do on this in a fork?

Specifically, do you want me adding you as a reviewer on my changes (e.g. https://github.com/richfromm/Slackord/pull/1) ?
I'm not actually 100% sure how to do that, I suspect I'd need to add you as a collaborator on the project. I'm okay with either a yes or a no, totally up to you.

I'm also happy to take feedback as to wh

[2022-09-09 22:29] richfromm commented on #8
Seems like renaming a fork is no big deal: https://github.blog/changelog/2022-04-12-you-can-now-name-your-fork-when-creating-it/

[2022-09-09 23:30] thomasloupe commented on #8
I don't mind at all.
I think it is better to have it renamed just for clarity sake, but maybe you could do something like `slackord-newnamehere`. I don't need any attribution at all personally, but if it derived from the original slackord, it might be a nicety. However, I'm specifically stating now, that neither do I require nor expect such from your own forks.

As far as contributions/reviews are

[2022-09-09 23:35] thomasloupe commented on #26
I will more than likely begin work on this enhancement this weekend.

[2022-09-11 00:10] aplex opened #32 "Cannot import long messages (over 2000 characters)"
Currently the import process breaks down with an exception like this:

System.ArgumentException: Message content is too long, length must be less or equal to 2000. (Parameter 'Content')
   at Discord.API.DiscordRestApiClient.CreateMessageAsync(UInt64 channelId, CreateMessageParams args, RequestOptions options)
   at Discord.Rest.ChannelHelper.SendMessageAsync(IMessageChannel channel, BaseDiscordCl

[2022-09-11 00:28] thomasloupe commented on #32
The message should have been split up, as this functionality is already included.
Would you be willing to shoot me the JSON file for testing so I can hotfix this?
You can Google Drive it, or any other preferred method you wish and feel comfortable with, then shoot me a DM on Twitter with the link.

[2022-09-13 10:08] xtianus opened #34 "Add a warning about private channels"
I just finished all the setup just to find out that Slack can't export private channels.
I know it's not your fault but you should add a note at the start, telling to first check the Slack export because one might not be able to get what he wants.

[2022-09-13 14:34] thomasloupe commented on #34
You can use a great tool called [Slackdump](https://github.com/rusq/slackdump) to do that.
I may get in touch with the developer to see if they are interested in cross-linking to each other's repositories for the sake of issues like this.

[2022-09-15 23:34] wishx opened #35 "Add batch or multiple files in one go"
Can't do more than one file at a time. The issue is that, the one linked JSON file combiner needs you to add each file manually one at a time, which is cumbersome when you have literally hundreds of JSON files per channel. The other tool I found that combines JSON files into one makes Slacklord2 error out, so it doesn't work.

Being able to cycle through or batch all files in the FILES directory a

[2022-09-16 23:58] thomasloupe commented on #35
Though the readme does state why I haven't provided support for this yet, I understand the reason for requesting it. It's likely I will make this an enhancement, so I'll add it to the list of enhancements to work on.

[2022-09-19 04:59] richfromm commented on #8
I've made a bunch of changes in my [fork](https://github.com/richfromm/slack2discord) and released it as [2.0](https://github.com/richfromm/slack2discord/releases/tag/2.0)

This includes all of the features and changes originally proposed here. I am therefore closing this issue.

I have a few more changes I am considering in the near term (see [Future work](https://github.com/richfromm/slack2disco

[2022-09-22 09:48] junwoo091400 commented on #26
@thomasloupe any updates? I would be interested in helping out!

[2022-09-23 20:02] thomasloupe commented on #34
Completed. Added to README.

[2022-09-23 20:02] #34 closed, assigned to nobody

[2022-09-27 19:32] LukasBFreund commented on #35
@thomasloupe That would be fantastic, thank you!

[2022-09-27 19:37] LukasBFreund opened #36 ""The application did not respond""
Hi Thomas,

Thanks so much for your work on this project!

I frequently encounter the error message "The application did not respond". Do you perhaps have any suggestions/solutions?

--Lukas

[2022-09-28 13:46] thomasloupe commented on #36
Hello!

This usually means your connection is unstable. I believe I can defer the task to post messages so that it doesn't do this.

[2022-09-28 13:56] LukasBFreund commented on #36
Hi Thomas,

Thanks for the helpful, swift response.

I do seem to get the message even when the bot is online. I seem to find that the error doesn't occur when I leave more time between parsing JSON files & using the bot to post on Discord. (The context being that I have 100s of JSON files to parse, so the 1-by-1 approach is a bit painful; so perhaps I was being too impatient.)

--Lukas

[2022-10-30 14:46] thomasloupe commented on #35
This enhancement has been completed for Windows, with Linux/Mac following shortly after.
See the latest [release](https://github.com/thomasloupe/Slackord2/releases/tag/v2.3).

[2022-10-30 14:58] thomasloupe commented on #36
This issue exists because I am not using DeferAsync/FollowupAsync in the responses.
When a user invokes the /Slackord slash command, commands must be executed within 3 seconds and an acknowledgement of the command being received and acted upon within 3 seconds or you will see this error. You will also get this error if the clock is out of sync on the system you are running.

The way it works is:
/

[2022-10-30 15:02] thomasloupe commented on #29
The latest Windows release now has cleaner timestamps.
Messages are a bit more clean now, too.
See the latest Windows [release](https://github.com/thomasloupe/Slackord2/releases/tag/v2.3) (Linux/Mac coming soon).

[2022-10-30 15:05] thomasloupe commented on #26
No updates currently on this.
I am still working on getting some other bugs and long-standing feature requests in. Once 2.3 is out for Linux/Mac, I can shift focus entirely toward this.

[2022-10-31 01:40] thomasloupe commented on #35
This feature has been completed for all releases of Slackord2.
See the latest release [here](https://github.com/thomasloupe/Slackord2/releases/tag/v2.3).

[2022-10-31 01:40] #35 closed, assigned to thomasloupe

[2022-10-31 01:41] thomasloupe commented on #29
This feature has been completed and released for all releases of Slackord2.
See the latest release [here](https://github.com/thomasloupe/Slackord2/releases/tag/v2.3).

[2022-10-31 01:41] #29 closed, assigned to thomasloupe

[2022-11-05 07:14] thomasloupe commented on #26
I have begun work on this and am about halfway done through the Windows release. There are some nuances I need to work through - IE: once a thread is created, reply to the thread with additional messages, but I'm nearly finished with the enhancement, then I can move to testing.

[2022-11-06 01:05] thomasloupe commented on #32
This bug should be fixed in https://github.com/thomasloupe/Slackord2/releases/tag/v2.4!
Please feel free to re-open this issue if you encounter it again.

[2022-11-06 01:06] thomasloupe commented on #26
This feature has been completed and is now in Slackord v2.4!
https://github.com/thomasloupe/Slackord2/releases/tag/v2.4

Appreciate the support for this enhancement request!

[2022-11-06 01:06] #26 closed, assigned to thomasloupe

[2022-11-06 01:08] thomasloupe commented on #36
I will still be adding code to remedy this, but this is intended behavior of the Discord.NET lib and Discord. Removed the bug label, since this really isn't a bug.

[2022-11-09 04:13] ezequiellagos opened #37 "The server responded with error 50006: Cannot send an empty message"
Hi!, i have this error when run the comand, not see empty strings in the json file

![image](https://user-images.githubusercontent.com/23712095/200736033-055a3dd1-52bf-45d0-8c4e-8a7c325b8702.png)

`
[
    {
        "client_msg_id": "fcb52fb8-dae5-49a8-80c0-27465ed70f52",
        "type": "message",
        "text": "Hola <@U012NSKS3L6> ! he estado pensando y creo que la idea de generar ∀alpos a part

[2022-11-09 08:27] thomasloupe commented on #37
Hi, @ezequiellagos!

Thanks for providing a report on this. I'll have a look at the JSON and see what I can find.

[2022-11-16 23:35] xihajun opened #38 "how to allow add Slacklord to the server?"
Hi, thanks for the lovely tool!

I have created a bot and give the permission. But do you know how to add the bot to the server?

[2022-11-16 23:43] xihajun commented on #38
<img width="633" alt="image" src="https://user-images.githubusercontent.com/25631641/202318956-d53801b7-b93c-4875-9382-a9b1dd0e195d.png">

[2022-11-16 23:58] #38 closed, assigned to nobody

[2022-11-24 01:49] wskidmore opened #39 "Collection was modified; enumeration operation may not execute"
Using the latest release, on windows 11, .net 7.
Have a json folder from slackdump with about 3000 json files, each having around 10-200 messages.

Executing the `/slackord` command in discord before all files have been parsed in the app you get this message:
[code]

Waiting for all files to be fully parsed before running the command avoids the error. For the record, the 3000 files totalled around

[2022-11-24 02:24] wskidmore commented on #37
Also getting this error. Slack allows you to send a message that only has an attachment -- super common for sending a screenshot.

[2022-11-24 03:25] thomasloupe commented on #39
@wskidmore
Got it.. hmm, that's very interesting, and a new one I haven't seen yet. Apart from downloading the source itself and giving it a good old fashioned debug, I'm not entirely sure where the operation is hanging up, but likely related also to the other issue (#37). These are currently the only two issues tracking for this release and they're pretty tough for me to track down.

For now, I w

[2022-11-24 03:27] thomasloupe commented on #39
Also noted your update here. I should probably not allow posting until all files have successfully parsed. Thanks for bringing that to my attention, as that's a short-sight on my part when I added folder parsing.

[2022-11-24 03:34] wskidmore commented on #37
Heres my json from slackdump:

[code]

[2022-11-24 03:38] wskidmore commented on #39
Its totally the parsing thing. Since the scrollbar wasnt repeatedly scrolling down to newer content and it just so happened that the line with 'xxx json finished parsing' was the last line visible in the window.

With so many json files in the folder its been parsing for about an hour now and its done maybe 2 years of messages out of 7, so im going to give it all night.

I'd close the issue.. or a

[2022-11-24 03:39] thomasloupe commented on #39
Yeah no problem, and thanks again for bringing this to light, it's how I get fixes in 👍
Let's leave the issue open, and when you have some time, let me know how it goes!

[2022-11-25 02:14] thomasloupe commented on #37
I believe I may have found the source of the issue.
Newlines in messages are being sent as actual newlines (empty messages, because no text) and this is causing the issue.
![image](https://user-images.githubusercontent.com/6563450/203886505-f93c3af6-597d-40e4-afa8-a4041113361d.png)

@wskidmore could you please confirm the message yours errors out on as well and see if it also contains a newline "\

[2022-11-25 02:34] wskidmore commented on #37
Downloaded the source (instead of just the release .exe) and dug in a bit -- I do not know C# so I'm out of my wheel house..

This line that grabs the files thumbnail url -
https://github.com/thomasloupe/Slackord2/blob/master/Slackord_Win/Slackord/Slackord.cs#L122

Succeeds, as the key does exist, but its an empty string. So,  `"" + "\n"` is added to `Responses` and then when its sent to discord,

[2022-11-25 14:33] pierrevdk opened #40 "Failed to load libhostfxr.dylib"
Hi,
First of all thanks a lot for what you built, that will be really useful!
I'm on Mac (Version 12.5.1) and I'm trying to launch Slackord v2.4.1 and when I do it I have this error message on the console:

I have .net v7.0.0 installed and I executed the `chmod +x *` command beforehand.

Thanks by advance,

Pierre

[2022-11-25 15:06] thomasloupe commented on #40
Hi Pierre,

Is this an M1 processor?

[2022-11-25 16:42] thomasloupe commented on #37
@ezequiellagos
I have found the source of _your_ error.
On line 279 of your JSON you have two pipe characters `||`.

Pipe characters are split characters for links in Slackord so they're not double-posted as malformed URLs.
See the following: https://github.com/thomasloupe/Slackord2/blob/master/Slackord_Win/Slackord/Slackord.cs#L171

Because your JSON has two of them simultaneously, this causes th

[2022-11-25 18:29] wskidmore commented on #37
Hmm, the people in the slack I'm moving to discord are all programmers and we often use || in regular ol speech.

[2022-11-25 18:33] thomasloupe commented on #37
I have resolved this by using a regex pattern.

[code]

This will resolve the issue of "Cannot send empty message" for at least one of these cases (not sure if it will resolve both).
This was a _very_ edge-case which wouldn't typically happen, but affects code snippets significantly.

I am creating a new release now to fix this bug immediately. I will update once the release is live.

[2022-11-25 18:43] thomasloupe commented on #37
Resolved for one case in [2.4.2](https://github.com/thomasloupe/Slackord2/releases/tag/v2.4.2).

[2022-11-25 21:57] ezequiellagos commented on #37
thanks, now works well!

[2022-11-25 22:15] thomasloupe commented on #37
@wskidmore could you try this version as well and let me know if you see the same issue?

[2022-11-25 22:23] wskidmore commented on #37
Above does fix messages that used `|` in its text body.

With my fix above for messages with files that have an empty string for thumbnail 1024, plus your fix for messages that contain code-like snippets (and in a programming slack, it was ever other message lol, many many code blocks with `||` for OR and for string literals in typescript `const keys = 'foo' | 'bar' | 'baz'`) its been chugging alo

[2022-11-25 23:46] thomasloupe commented on #37
@wskidmore I'll look toward that fix next on my end.

[2022-11-26 02:43] wskidmore commented on #37
This text failed:

[code]

Have a feeling any messages with code snippets is going to get messy. I might have some time Sunday to dig in and see if I can tighten up the regex.

[2022-11-26 10:07] pierrevdk commented on #40
Hi Thomas,Thanks for your answer. No it’s not, it’s an Intel from 2019. On 25 Nov 2022, at 16:06, Thomas Loupe ***@***.***> wrote:﻿
Hi Pierre,
Is this an M1 processor?

—Reply to this email directly, view it on GitHub, or unsubscribe.You are receiving this because you authored the thread.Message ID: ***@***.***>

[2022-11-26 17:01] thomasloupe commented on #40
@pierrevdk
Okay, I have seen another report of this recently. This may have to do with .NET7. I will need some time to investigate what is actually happening.

For now, I would recommend downgrading to the .NET6 version if you need this done sooner rather than later. This appears to be only affecting mac users.

[2022-11-26 19:24] thomasloupe commented on #40
Hi @pierrevdk,

Could you try doing the following in terminal:
`cd /path/to/slackord2/`
`sudo xattr -r -d com.apple.quarantine *`

Then try running again and let me know if that sorts it out?

[2022-11-26 20:27] thomasloupe commented on #37
@wskidmore could you upload the full JSON block here (not the entire file, just the block with that message) so I can have a look at it?

[2022-11-26 20:37] wskidmore commented on #37
[code]

[2022-11-26 20:49] thomasloupe commented on #37
Thanks a bunch. I'll have a look at this and see what we can pull out of this.

[2022-11-26 21:10] thomasloupe commented on #37
I've found the issue and need to patch the current regex to resolve this.

[2022-11-27 23:39] nixomose commented on #37
yeah I just ran into this too, running 2.4.2, an empty message with only an image. great effort building this though. thanks.

[2022-11-27 23:39] thomasloupe commented on #37
@nixomose Are you using the Windows release?

[2022-11-27 23:45] nixomose commented on #37
Yeah sorry should have mentioned that.  Winders.

[2022-11-28 00:01] thomasloupe commented on #37
@nixomose The fix I've been working on (along with some other features), may resolve the issue.
I'm working to get this build out within the next hour or two.

[2022-11-28 02:31] thomasloupe commented on #39
Fixed for Windows:
https://github.com/thomasloupe/Slackord2/releases/tag/v2.4.3

[2022-11-28 02:31] #39 closed, assigned to thomasloupe

[2022-11-28 02:33] thomasloupe commented on #40
I believe this to be resolved with the above comment.
I have updated the documentation to provide the resolution for this encountered error on mac here:
https://github.com/thomasloupe/Slackord2/wiki/Troubleshooting

If you try this and still have problems, please comment or create a new issue.
Thanks again for the report!

[2022-11-28 02:33] #40 closed, assigned to thomasloupe

[2022-11-28 02:34] thomasloupe commented on #37
Most issues are resolved in the latest release here (Windows only for now as it's all I had the time for today).
https://github.com/thomasloupe/Slackord2/releases/tag/v2.4.3

For issues related to the pipe character, I'm still working on this and will have it updated as soon as I'm able to create a regex that'll work for all cases, which is proving quite difficult.

[2022-11-28 10:13] pierrevdk commented on #40
It worked, thanks!

I'm just confused now, when I run Slackord, I'm not prompted to enter the token, and I don't have a Files folder inside the Slackord folder, is there something I misunderstood or I am doing wrong?

Attached the console result of the Slackord command:

[2022-11-28 16:02] thomasloupe commented on #40
I'll have a look at this. Quite odd that there's no parsing happening at all.
It appears the same is happening on Linux as well.

[2022-11-28 16:56] thomasloupe commented on #40
Fixed now.
https://github.com/thomasloupe/Slackord2/releases/tag/v2.4.3

Octokit wasn't pulling the latest release, resulting in an error. This should be fixed now. Can you try and confirm for me?

[2022-11-28 17:43] pierrevdk commented on #40
You are awesome @thomasloupe!
It worked, I was able to add the bot's token, but I don't see a Files folder inside the Slackord2 folder. I've created one, added some json files inside but I keep having this:

What should I do differently?

[2022-11-28 17:52] thomasloupe commented on #40
You're very welcome.
Could you try chmod'ing Slackord for read/write/execute permissions?

`cd path/to/slackord/`
`chmod +rwe *`
`chmod +rwe Slackord`

[2022-11-28 18:07] pierrevdk commented on #40
I've tried it, console answers: `chmod: Invalid file mode: +rwe`

[2022-11-28 18:21] pierrevdk commented on #40
It actually worked by re-running `chmod +x *` with the Files folder I created.

[2022-11-28 18:27] thomasloupe commented on #40
Really glad to hear that!
I will create an enhancement to include the folder instead of creating it so we don't run into issues for Linux and Mac.

Are we good to close this off?

[2022-11-30 11:01] pierrevdk commented on #40
Sorry, yes you can, thanks a lot for your help @thomasloupe!

[2022-11-30 11:21] thomasloupe commented on #40
Awesome, glad to help!